name: Check, Test and Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  analyze:
    name: Analyze code (SAST)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.2'
          channel: 'stable'
          cache: true
      - name: Analyze code
        run: flutter analyze

  test:
    name: Run tests
    runs-on: ubuntu-latest
    needs: analyze
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.2'
          channel: 'stable'
          cache: true
      - name: Run tests
        run: flutter test

  build:
    name: Build APK
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.2'
          channel: 'stable'
          cache: true
      - name: Build APK
        run: flutter build apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: build/app/outputs/flutter-apk/

  distribute:
    name: Upload artifact to Firebase App Distribution
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download app APK
        uses: actions/download-artifact@v4
        with:
          name: apk
      - name: Upload artifact to Firebase App Distribution
        id: uploadArtifact
        env:
          INPUT_APPID: ${{secrets.FIREBASE_APP_ID}}
          INPUT_SERVICECREDENTIALSFILECONTENT: ${{ secrets.CREDENTIAL_FILE_CONTENT }}
          GOOGLE_APPLICATION_CREDENTIALS: service_credentials_content.json
          INPUT_GROUPS: testers
          INPUT_FILE: app-release.apk
        run: |
          cat <<< "${INPUT_SERVICECREDENTIALSFILECONTENT}" > service_credentials_content.json
          sudo npm install -g firebase-tools
          firebase  appdistribution:distribute  "$INPUT_FILE"  --app "$INPUT_APPID" --groups "$INPUT_GROUPS"  --testers "$INPUT_TESTERS"  --release-notes "$(git log -1 --pretty=short)"